<h1 class="comments-title">Comments ({{ qtyComment }})</h1>
{{#each data }}
    <div class="be-comment">
        <div class="be-comment-content">
            <span class="be-comment-name">
                <a>{{ this.name }} ({{ this.email }})</a>
            </span>
            <span class="be-comment-time">
                <i class="fa fa-clock-o"></i>
                {{ this.createdDate }}
            </span>

            <p class="be-comment-text m-0">
                {{ this.comment }}
            </p>
        </div>
    </div>
{{/each}}
